cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}

network.host: {{ elasticsearch_network_host }}
http.port: {{ elasticsearch_http_port }}
transport.port: {{ elasticsearch_transport_port }}

discovery.seed_hosts: {{ elasticsearch_discovery_hosts }}
cluster.initial_master_nodes: elasticsearch-1,elasticsearch-2,elasticsearch-3

path.data: {{ elasticsearch_data_dir }}
path.logs: {{ elasticsearch_log_dir }}

# 安全配置
xpack.security.enabled: false
xpack.security.enrollment.enabled: false
xpack.security.http.ssl.enabled: false
xpack.security.transport.ssl.enabled: false

# 监控配置
xpack.monitoring.collection.enabled: true