---
- name: 检查 PostgreSQL 是否已安装
  stat:
    path: /usr/bin/psql
  register: postgresql_installed

- name: 安装 PostgreSQL
  dnf:
    name: postgresql-server
    state: present
  when: not postgresql_installed.stat.exists

- name: 创建 libicu 符号链接
  shell: |
    cd /usr/lib64
    ln -sf libicui18n.so.67.1 libicui18n.so.67
    ln -sf libicuuc.so.67.1 libicuuc.so.67
    ln -sf libicudata.so.67.1 libicudata.so.67
    ln -sf libicutu.so.67.1 libicutu.so.67
    ln -sf libicuio.so.67.1 libicuio.so.67
    ldconfig
  when: not postgresql_installed.stat.exists

- name: 创建 PostgreSQL 用户
  user:
    name: postgres
    shell: /bin/bash
    create_home: yes
    system: yes

- name: 创建 PostgreSQL 数据目录
  file:
    path: /var/lib/pgsql/data
    state: directory
    owner: postgres
    group: postgres
    mode: '0700'

- name: 初始化 PostgreSQL 数据库
  become_user: postgres
  shell: /usr/bin/postgresql-setup --initdb || initdb -D /var/lib/pgsql/data
  args:
    creates: /var/lib/pgsql/data/PG_VERSION

- name: 启动 PostgreSQL 服务
  shell: |
    su - postgres -c "/usr/bin/pg_ctl -D /var/lib/pgsql/data -l /var/lib/pgsql/data/logfile start"
  args:
    creates: /var/lib/pgsql/data/postmaster.pid

- name: 等待 PostgreSQL 服务启动
  wait_for:
    port: "{{ postgresql_port }}"
    delay: 5
    timeout: 60

- name: 创建 SonarQube 数据库用户
  become_user: postgres
  shell: |
    /usr/bin/psql -c "CREATE USER {{ postgresql_user }} WITH PASSWORD '{{ postgresql_password }}';" || true
  ignore_errors: yes

- name: 创建 SonarQube 数据库
  become_user: postgres
  shell: |
    /usr/bin/psql -c "CREATE DATABASE {{ postgresql_db_name }} OWNER {{ postgresql_user }} ENCODING 'UTF8';" || true
  ignore_errors: yes

- name: 授予 SonarQube 数据库权限
  become_user: postgres
  shell: |
    /usr/bin/psql -c "GRANT ALL PRIVILEGES ON DATABASE {{ postgresql_db_name }} TO {{ postgresql_user }};"
  ignore_errors: yes

- name: 配置 PostgreSQL 允许远程连接
  lineinfile:
    path: /var/lib/pgsql/data/pg_hba.conf
    line: "host    {{ postgresql_db_name }}    {{ postgresql_user }}    0.0.0.0/0    md5"
    insertafter: EOF

- name: 配置 PostgreSQL 监听所有地址
  lineinfile:
    path: /var/lib/pgsql/data/postgresql.conf
    regexp: "^listen_addresses"
    line: "listen_addresses = '*'"

- name: 配置 PostgreSQL 最大连接数
  lineinfile:
    path: /var/lib/pgsql/data/postgresql.conf
    regexp: "^max_connections"
    line: "max_connections = 100"

- name: 重启 PostgreSQL 服务
  become_user: postgres
  shell: /usr/bin/pg_ctl -D /var/lib/pgsql/data -l /var/lib/pgsql/data/logfile restart