---
- name: 创建 zookeeper 用户
  user:
    name: "{{ zookeeper_user }}"
    system: true
    shell: /bin/false
  become: true

- name: 创建目录
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"
    mode: '0755'
  loop:
    - "{{ zookeeper_install_dir }}"
    - "{{ zookeeper_data_dir }}"
  become: true

- name: 检查 Zookeeper 是否已下载
  stat:
    path: /tmp/zookeeper.tgz
  register: zookeeper_file

- name: 下载 Zookeeper
  get_url:
    url: "https://archive.apache.org/dist/zookeeper/zookeeper-{{ zookeeper_version }}/apache-zookeeper-{{ zookeeper_version }}-bin.tar.gz"
    dest: /tmp/zookeeper.tgz
    timeout: 1800
  become: true
  when: not zookeeper_file.stat.exists

- name: 解压 Zookeeper
  unarchive:
    src: /tmp/zookeeper.tgz
    dest: "{{ zookeeper_install_dir }}"
    remote_src: true
    extra_opts: ["--strip-components=1"]
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"
  become: true

- name: 生成配置文件
  copy:
    dest: "{{ zookeeper_install_dir }}/conf/zoo.cfg"
    content: |
      tickTime=2000
      initLimit=10
      syncLimit=5
      dataDir={{ zookeeper_data_dir }}
      clientPort={{ zookeeper_port }}
      maxClientCnxns=60
      server.1=172.128.0.10:2888:3888
      server.2=172.128.0.11:2888:3888
      server.3=172.128.0.12:2888:3888
  become: true

- name: 创建 myid 文件
  copy:
    dest: "{{ zookeeper_data_dir }}/myid"
    content: "{{ groups['zookeeper'].index(inventory_hostname) + 1 }}"
  become: true

- name: 创建 systemd 服务
  copy:
    dest: /etc/systemd/system/zookeeper.service
    content: |
      [Unit]
      Description=Zookeeper
      After=network.target

      [Service]
      Type=simple
      User={{ zookeeper_user }}
      Group={{ zookeeper_user }}
      WorkingDirectory={{ zookeeper_install_dir }}
      ExecStart={{ zookeeper_install_dir }}/bin/zkServer.sh start-foreground
      Restart=always
      RestartSec=5

      [Install]
      WantedBy=multi-user.target
  become: true

- name: 启动 Zookeeper
  systemd:
    name: zookeeper
    state: "{{ service_state }}"
    enabled: "{{ service_enabled }}"
    daemon_reload: true
  become: true