[Unit]
Description=Jenkins Automation Server
After=network.target

[Service]
Type=simple
User={{ jenkins_user }}
Group={{ jenkins_group }}
Environment="JENKINS_HOME={{ jenkins_home }}"
Environment="JAVA_OPTS={{ jenkins_java_opts }}"
WorkingDirectory={{ jenkins_install_dir }}
ExecStart={{ jenkins_install_dir }}/jenkins.sh
Restart=on-failure
RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target