[Unit]
Description=VictoriaMetrics Storage - Data Node
Documentation=https://docs.victoriametrics.com/Cluster-VictoriaMetrics.html
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ vm_user }}
Group={{ vm_group }}
WorkingDirectory={{ vm_data_dir }}
ExecStart={{ vm_install_dir }}/vmstorage-prod \
  -httpListenAddr={{ vmstorage_listen_addr }} \
  -vminsertAddr={{ vmstorage_vminsert_addr }} \
  -vmselectAddr={{ vmstorage_vmselect_addr }} \
  -retentionPeriod={{ vmstorage_retention_period }} \
  -memory.allowedPercent={{ vmstorage_memory_allowed_percent }} \
  -smallMergeWorkers={{ vmstorage_small_merge_workers }} \
  -bigMergeWorkers={{ vmstorage_big_merge_workers }} \
  -loggerLevel={{ vm_log_level }} \
  -loggerStdout \
  -storageDataPath={{ vmstorage_data_dir }}

Restart=on-failure
RestartSec=5
LimitNOFILE=65536
LimitNPROC=32768
MemoryLimit={{ vm_memory_limit }}M

[Install]
WantedBy=multi-user.target