---
- name: restart mysql
  ansible.builtin.systemd:
    name: mysql
    state: restarted
    daemon_reload: true
  become: true

- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true