---
- name: restart sentinel
  ansible.builtin.systemd:
    name: redis-sentinel
    state: restarted
    daemon_reload: true
  become: true

- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true