---
# Filebeat 处理器

- name: restart filebeat
  ansible.builtin.systemd:
    name: filebeat
    state: restarted
    daemon_reload: true
  become: true

- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true