---
# Zookeeper 部署任务

- name: 创建 zookeeper 用户
  ansible.builtin.user:
    name: "{{ zookeeper_user }}"
    system: true
    shell: /bin/false
  become: true

- name: 创建目录
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"
    mode: '0755'
  loop:
    - "{{ zookeeper_install_dir }}"
    - "{{ zookeeper_data_dir }}"
  become: true

- name: 复制 Zookeeper 到目标主机
  ansible.builtin.copy:
    src: "/opt/ansible/downloads/apache-zookeeper-{{ zookeeper_version }}-bin.tar.gz"
    dest: /tmp/zookeeper.tgz
    mode: '0644'
  become: true

- name: 解压 Zookeeper
  ansible.builtin.unarchive:
    src: /tmp/zookeeper.tgz
    dest: "{{ zookeeper_install_dir }}"
    remote_src: true
    extra_opts: ["--strip-components=1"]
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"
  become: true

- name: 生成配置文件
  ansible.builtin.copy:
    dest: "{{ zookeeper_install_dir }}/conf/zoo.cfg"
    content: |
      tickTime=2000
      initLimit=10
      syncLimit=5
      dataDir={{ zookeeper_data_dir }}
      clientPort={{ zookeeper_port }}
      maxClientCnxns=60
      admin.enableServer=false
    owner: "{{ zookeeper_user }}"
    group: "{{ zookeeper_user }}"
    mode: '0644'
  become: true

- name: 创建启动脚本
  ansible.builtin.copy:
    dest: /usr/local/bin/start-zookeeper.sh
    content: |
      #!/bin/bash
      export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-17.0.17.0.10-1.el9.x86_64
      cd {{ zookeeper_install_dir }}
      {{ zookeeper_install_dir }}/bin/zkServer.sh start
    mode: '0755'
  become: true

- name: 启动 Zookeeper
  ansible.builtin.shell: |
    nohup /usr/local/bin/start-zookeeper.sh > /var/log/zookeeper.log 2>&1 &
    sleep 5
  become: true